* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.header {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/header_bg.jpg") center no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header_container {
  width: 100%;
  /* background-color: olive; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70%;
}
.header_text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffffff;
}

/* info block */
.info {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/black_texture.jpg);
}
.info_wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dani_photo {
  height: 100vh;
  width: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_text {
  width: 47%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
  color: #ffffff;
}
.info_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info_text span {
  color: #d1bd7d;
}
.info_text h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
}
.info_text p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}
.pole {
  scale: 0.75;
  
  margin-left: 3%;
}

/* gallery */
.gallery {
  width: 100%;
  height: 100vh;
  background-color: rgb(151, 129, 0);
}

/* shave block */
.shave_block {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/йцуйцу.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shave_logo{
  height: 95vh;
}

/* footer */
.footer{
  background-color: black;
  height: 25vh;
}

/* media */
@media screen and (max-width: 900px){
  .info_block p{
    font-size: 14px;
  }
}
